doctype html
html
  head
    meta(charset='utf-8')
    title chatterbox
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/moment/moment.js')
    script(src='javascripts/config.js')
    script(src='javascripts/app.js')
    script(src='javascripts/message.js')
    script(src='javascripts/interact.js')
    script(src='javascripts/interactCompose.js')
    script(src='javascripts/interactChatRoomList.js')

  body
    block content

